.user-company-edit-form,
.user-employee-edit-form {
	max-width: 830px;
	.button-primary {
		@extend .button-primary;
	}
	.form-type-managed-file {
		label {
			float: none;
		}
		input {
			width: 100%;
		}
		.image-widget {
			@extend .panel;
			text-align: center;
			.image-preview {
				padding: $gutter;
			}
			.image-widget-data {
				.file, .file-size {
					display: none;
				}
				.form-file {
					display: inline-block;
					height: 38px;
					position: relative;
				}
			}
		}
	}
  .delete {
    clear: both;
    margin-bottom: $gutter*3;
    input {
      background: $color-error;
      color: $color-white;
      font-weight: 400;
      text-transform: none;
      padding: 3px 8px;
    }
  }
  .anonymous_info {
    p {
      margin: 0 !important;
    }
    + p {
      padding: 0 0 $gutter 0;
    }
  }
	@media all and (min-width: $md) {
		max-width: none;
		.form-type-managed-file {
			float: right;
			width: 35%;
			clear: right;
      .description {
        width: 100%;
      }
		}
		> .form-item {
			float: left;
			width: 60%;
			clear: left;
		}
		.clearfix {
			clear: both;
			padding: $gutter 0;
		}
		> p {
			clear: both;
			margin: 0;
			padding: $gutter*2 0 0 0;
			+ p {
				padding: 0 0 $gutter*2 0;
			}
		}
	}
}
.user-employee-edit-form {
	img {
		border-radius: 200px;
	}
}
