.user-company-form,
.user-employee-form,
.user-login-form,
.user-pass {
	max-width: 830px;
	.button {
		@extend .button-primary;
	}
}
.user-login-form,
.user-pass {
	.form-item--error-message {
		float: none;
		width: 100%;
	}
}
.user-employee-form-step-1,
.user-employee-form-step-2,
.user-employee-form-step-3 {
	overflow: hidden;
	margin-bottom: $gutter*3;
	.form-item, p {
		max-width: 830px;
	}
	p.intro2 {
		// font-weight: 700;
		// color: $color-primary;
	}
	.form-type-managed-file {
		label {
			float: none;
		}
		input {
			width: 100%;
		}
    .description {
      width: 100%;
    }
		.image-widget {
			@extend .panel;
			text-align: center;
			.image-preview {
				padding: $gutter;
			}
			.image-widget-data {
				.file, .file-size {
					display: none;
				}
				.form-file {
					display: inline-block;
					height: 38px;
					position: relative;
				}
			}
		}
	}
	.form-wrapper > .form-submit {
		clear: both;
		display: block;
	}
	.anonymous_info {
		margin-top: $gutter*2;
	}
}
.user-employee-form-step-2 {
	@media all and (min-width: $md) {
		max-width: none;
		.form-type-managed-file {
			float: right;
			width: 35%;
			clear: right;
		}
		.personal_values > .form-item {
			float: left;
			width: 60%;
			clear: left;
		}
		.clearfix {
			clear: both;
			padding: $gutter 0;
		}
		.personal_values > p {
			clear: both;
			margin: 0;
			padding: 0 0 $gutter 0;
			+ p {
				padding: 0 0 $gutter*2 0;
			}
		}
	}
}
#user-employee-form-step-3 {
	@extend #adjust-values-form;
	> .form-wrapper {
		width: 100% !important;
	}
}

.user-login-form,
.user-pass {
	max-width: 535px;
	margin: 0 auto;
	.form-item {
		label {
			display: none;
		}
		input, .description {
			width: 100%;
			float: none;
		}
	}
}

.confirm-parent,
.password-parent {
  max-width: none;
}
div.password-confirm, div.password-field, div.password-strength, div.password-confirm-match {
  width: 100%;
}
.password-suggestions {
  display: none !important;
}

.user-login-form {
	#page-title {
		h1 {
			display: none;
			margin-top: 0;
			text-align: center;
			&:after {
				content: '';
				display: block;
				margin: $gutter*2 auto;
				width: 200px;
				height: 200px;
				@extend .panel;
				border-radius: $border-radius-default;
			}
			&.werkgevers:after {
				background: $color-white url(../img/login-werkgevers.png) no-repeat 50% 50% / 100px auto;
			}
			&.werknemers:after {
				background: $color-white url(../img/login-werknemers.png) no-repeat 50% 50% / 100px auto;
			}
		}
	}
	.vacature {
		display: none;
		@extend .panel;
		text-align: center;
		.company-logo {
			padding: $gutter;
		}
		.job-title, .company-name {
			font-size: $font-size-large;
		}
		.job-title {
			font-weight: 700;
		}
	}
	&.werknemer {
		#page-title h1.werknemers {
			display: block;
		}
	}
	&.werkgever {
		#page-title h1.werkgevers {
			display: block;
		}
	}
	&.vacature .vacature {
		display: block;
	}
	.form-item {
		.description {
			font-size: $font-size-default;
			margin-top: $gutter;
			a {
				color: $color-grey;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	@media all and (min-width: $md) {
		margin: 0;
		overflow: hidden;
		&.werknemer,
		&.werkgever,
		&.vacature {
			max-width: none;
			width: 100%;
			#page-title, .vacature {
				width: 35%;
				float: left;
				h1 {
					text-align: left;
					&:after {
						margin: $gutter*2 0;
					}
				}
			}
			.vacature {
				width: 30%;
				max-width: 380px;
			}
			> h2,
			> p,
			> .form-item,
			> .form-actions {
				width: 65%;
				float: right;
				clear: right;
				input {
					max-width: 535px;
				}
			}
			.vacature + h2 {
				margin-top: 12px;
			}
		}
	}
}
.anonymous_info {
	clear: both;
	p {
		margin-bottom: $gutter*2 !important;
		span {
			display: inline-block;
			width: 20px;
			height: 20px;
			background: $color-primary;
			color: $color-white;
			margin-left: 5px;
			vertical-align: middle;
			text-align: center;
			line-height: 20px;
			font-weight: 700;
			border-radius: 10px;
			cursor: pointer;
		}
	}
	ul {
		display: none;
		position: absolute;
		@extend .panel;
		li {
			display: block;
		}
	}
}
