.tabs-wrapper {
	ul.tabs {
	    margin: 0 0 $gutter*2 0;
	    border: none;
	    border-bottom: 2px solid $color-primary;
	    list-style: none;
	    overflow: hidden;
	    li {
	    	display: block;
	      	overflow: hidden;
	        padding: 0 0 15px 0;
	        float: left;
	        margin: 0 70px 0 0;
	        font-size: 16px;
	        color: $color-primary;
	        &.disabled {
	            color: $color-grey;
	        }
	        &.current {
	        	padding-bottom: 13px;
	        	border-bottom: 2px solid $color-primary;
	        }
	    }
	 }
	 .tab-content {
	 	.tab {
	 		display: none;
	 		&.current {
	 			display: block;
	 		}
	 	}
	 }
	 @media all and (max-width: $md - 1px) {
		 ul.tabs {
			padding: $gutter;
			margin: 0 0 $gutter 0;
			border: 1px solid $color-border;
			border-radius: $border-radius-button;
			background: $color-white;
		 	li {
		 		float: none;
		 		margin: 0;
		 		padding: 5px 0;
		 		border-bottom: 1px solid $color-border;
		 		&.current {
		 			padding: 5px 0;
		 			border-bottom: 1px solid $color-border;
		 			font-weight: 700;
		 		}
		 		&:last-child {
		 			border: none !important;
		 		}
		 	}
		}
	}
}

.vacature_invullen {
  .header {
    overflow: hidden;
    margin-bottom: $gutter*3;
    .buttons {
      float: right;
      @media all and (max-width: $md - 1px) {
        float: none;
        a {
          display: block;
          width: calc(100% - 30px);
          float: none;
          margin: 0 $gutter;
        }
      }
    }
    &.inactive {
      opacity: 0.3;
      a {
        cursor: default;
        &.button {
          background: $color-white !important;
        }
        &.button--primary {
          background: $color-primary !important;
          color: $color-white !important;
          border-color: $color-primary !important;
        }
      }
    }
    @media all and (max-width: $md - 1px) {
      .buttons {
        float: none;
        overflow: hidden;
        a {
          float: left;
          + a {
            float: right;
          }
        }
        + p {
          clear: both;
          padding-top: $gutter;
          text-align: center;
        }
      }
    }
  }
  .fieldset-wrapper > .form-item--error-message {
    float: none;
    width:: 100%;
  }
	.sidebar {
		.qm {
			display: none;
			position: absolute;
			top: 10px;
			right: 10px;
			width: 20px;
			height: 20px;
			border-radius: 10px;
			line-height: 20px;
			text-align: center;
			font-weight: 700;
			color: $color-white;
			background: $color-primary;
			&:hover {
				background: $color-border;
				text-decoration: none;
			}
		}
		.logo {
			position: relative;
			@extend .panel;
			margin-bottom: 0;
			border-radius: $border-radius-button $border-radius-button 0 0;
			text-align: center;
			img{
				padding: $gutter;
			}
			.company-company {
				font-size: $font-size-large;
				font-weight: 700;
				padding-bottom: $gutter;
			}
			.company-job {
				color: $color-primary;
				font-weight: 700;
				padding-bottom: $gutter;
			}
		}
		.fields {
			@extend .panel;
			border-radius: 0 0 $border-radius-button $border-radius-button;
			border-top: none;
			.label {
				font-size: $font-size-small;
				font-weight: 400;
				text-transform: uppercase;
				color: $color-grey;
			}
			.description {
				color: $color-grey;
			}
			.button {
				width: 100%;
			}
		}
	}
	.content {
		.form-type-textarea {
			label {
				padding-bottom: $gutter;
				font-size: $font-size-large;
				font-weight: 700;
			}
		}
		.job-content, .company-content {
			display: none;
		}
		.company-content {
			p span {
				display: block;
				font-weight: 700;
				@media all and (min-width: $md) {
					display: inline-block;
					min-width: 200px;
					padding-right: 15px;
				}
			}
		}
	}
	.fieldgroup {
		legend {
			@extend .label;
			display: block;
		}
	}
	.divider {
		height: 1px;
		background: $color-border;
		margin-bottom: $gutter;
	}
	.form-type-managed-file {
		@extend .panel;
		label {
			float: none;
			width: 100%;
			@extend h2;
			margin: 0;
			padding-bottom: $gutter*2;
		}
		input {
			float: none;
			width: auto;
			@extend .button;
			@extend .button-primary;
			@media all and (max-width: $md - 1px) {
				font-size: 10px;
			}
		}
		.file {
			height: 60px;
			line-height: 60px;
			padding-left: 60px;
			padding-right: 60px;
			background: transparent url(../img/cv.png) no-repeat 0 0 / auto 60px;
			a {
				color: $color-text;

			}
		}
    .form-item--error-message {
      float: none;
      width: 100%;
      margin-top: $gutter;
      .item-list {
        ul li {
          list-style: none;
          margin-left: 18px;
        }
      }
    }
	}
  .legend {
    list-style: none;
    margin: 0 0 0 $gutter;
    @extend .panel;
    @media all and (min-width: $md) {
      width: 20%;
      float: right;
    }
    @media all and (max-width: $md - 1px) {
      margin-left: 0;
      margin-bottom: $gutter*2;
    }
    li {
      margin-bottom: $gutter;
      &:before {
        content: '';
        display: block;
        width: 11px;
        height: 11px;
        background: transparent url(../img/star.png) no-repeat 0 50% / 11px auto;
      }
      + li {
        &:before {
          width: 30px;
          background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, transparent;
        }
        + li {
          &:before {
            width: 49px;
            background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, url(../img/star.png) no-repeat 38px 50% / 11px auto, transparent;
          }
          + li {
            &:before {
              width: 68px;
              background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, url(../img/star.png) no-repeat 38px 50% / 11px auto, url(../img/star.png) no-repeat 57px 50% / 11px auto, transparent;
            }
            + li {
              &:before {
                width: 87px;
                background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, url(../img/star.png) no-repeat 38px 50% / 11px auto, url(../img/star.png) no-repeat 57px 50% / 11px auto, url(../img/star.png) no-repeat 76px 50% / 11px auto, transparent;
              }
            }
          }
        }
      }
    }
  }
	#edit-container-values {
		@extend .panel;
		h3 {
			@extend h2;
			margin: 0;
			padding-bottom: $gutter*2;
		}
		legend {
			margin-bottom: $gutter;
			width: auto;
			font-weight: 700;
			@media all and (min-width: $md) {
				float: left;
			}
		}
		.form-radios {
			width: auto;
		}
		.form-type-radio {
			min-width: 0;
			margin-right: 0;
			float: left !important;
			label {
				text-indent: -9999px;
				padding: 0;
				width: 20px;
				height: 20px;
				margin-right: $gutter;
				@media all and (min-width: $md) {
					margin-left: $gutter;
					margin-right: 0;
				}
				&:before {
					top: 0;
					width: 20px;
					height: 20px;
					border: none;
					background: transparent url(../img/star.png) no-repeat 50% 50% / contain;
					opacity: 0.2;
					cursor: pointer;
				}
				&:hover:before {
					opacity: 0.6;
				}
			}
			input:checked + label.hovering:not(.lowerValue):before {
				opacity: 0.2;
			}
			input:checked + label.hovering:not(.lowerValue):hover:before {
				opacity: 0.6;
			}
			input:checked + label:before,
			label.lowerValue:before {
				opacity: 1;
				&:hover {
					opacity: 0.6;
				}
			}
		}
		.description {
			clear: both;
			font-size: $font-size-default;
		}
    @media all and (min-width: $md) {
      width: calc(80% - 30px);
      float: left;
    }
	}
	.form-submit {
    display: block;
    clear: both;
		@extend .button-primary;
	}
	.fieldgroup {
		.form-item {
			float: left;
			margin-right: $gutter*2;
			min-width: 100px;
			@media all and (max-width: $md - 1px) {
				float: none;
			}
		}
	}
	@media all and (min-width: $md) {
		.fieldgroup {
			legend {
				width: 200px;
		    	padding: 7px 25px 7px 0;
		    	float: left;
		    	line-height: 24px;
			}
			.form-item {
				float: left;
				margin-right: $gutter*2;
				min-width: 100px;
			}
		}
	}
}

.job-apply-form {
  .form-required:after {
    margin-left: 0;
  }
  .job-anon {
    clear: both;
    h3 {
      margin-bottom: 0;
    }
  }
  > h3 {
    margin-bottom: 0;
  }
}

.job-accept-form,
.job-stop-form {
  textarea {
    max-width: 620px;
    min-height: 300px;
  }
  .form-radios {
    width: auto;
    float: none;
    margin-bottom: $gutter;
  }
}
