.job-add-form {
	.button--primary {
		@extend .button-primary;
	}
	button.stop {
		display: none;
	}
	.fieldgroup {
		legend {
			@extend .label;
			display: block;
		}
	}
	.field--name-field-job-anon {
		margin-left: 2px;
    label {
      padding-left: 50px !important;
    }
    .description {
      margin-left: 0 !important;
      margin-bottom: 30px;
      margin-top: 10px;
      position: relative;
      .tips-and-tricks a {
        position: absolute;
        top: -35px;
        right: 3px;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-text;
        &:hover {
          background: transparent;
        }
        &:before {
          display: inline-block;
          content: '?';
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          margin-right: 5px;
          color: $color-white;
          background: $color-primary;
          border-radius: 10px;
        }
      }
    }
    @media all and (max-width: $md - 1px) {
      label {
        padding-bottom: 30px;
      }
      .description .tips-and-tricks a {
        left: -11px;
        top: -32px;
      }
    }
	}
	@media all and (min-width: $md) {
		.fieldgroup {
			legend {
				width: 200px;
		    	padding: 7px 25px 7px 0;
		    	float: left;
		    	line-height: 24px;
			}
			.form-item {
				float: left;
				margin-right: $gutter*2;
				min-width: 100px;
			}
		}
		.field--name-field-job-anon {
			// margin-left: 75px;
      .description {
        // margin-left: 100px;
      }
		}
	}
	#edit-group-2-verschillende-stappen {
		.steps {
			margin-top: $gutter*2;
			margin-left: $gutter*2;
			margin-bottom: $gutter*2;
			border-left: 1px solid $color-primary;
			padding-left: $gutter*2;
			@media all and (max-width: $md - 1px) {
				margin-left: 0;
				border-left: none;
				padding-left: 0;
			}
		}
		.details-wrapper {
			padding: 0;
		}
		.field--type-entity-reference {
			position: relative;
			border-bottom: 1px solid $color-border;
			padding: 0 $gutter $gutter $gutter;
			fieldset {
				margin: 0;
				legend {
					display: none;
				}
				.form-checkboxes {
					width: auto;
					float: left;
					padding-left: 100px;
					@media all and (max-width: $md - 1px) {
						padding-left: 50px;
					}
					.form-item {
						float: none;
					}
				}
			}
		}
		.steps .field--type-boolean {
			position: relative;
			border-bottom: 1px solid $color-border;
			padding: $gutter;
			&.field--name-field-job-sjt {
				border: none;
				padding-bottom: 0;
			}
			&:before {
				counter-increment: vacatureStappen;
		    	content: counter(vacatureStappen);
		    	position: absolute;
		    	top: 15px;
		    	left: -46px;
		    	display: block;
		    	width: 30px;
		    	height: 30px;
		    	line-height: 30px;
		    	text-align: center;
		    	border: 1px solid $color-primary;
		    	border-radius: 15px;
		    	background: $color-white;
		    	font-size: 16px;
		    	font-weight: 700;
		    	color: $color-primary;
				@media all and (max-width: $md - 1px) {
					display: none;
				}
			}
			&:first-child {
				padding-top: 0;
				&:before {
					top: 0;
				}
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
				&:before {
					top: auto;
					bottom: 0;
				}
			}
			.form-item--error-message {
				width: 100%;
				float: none;
				margin-left: 100px;
				a {
					display: inline;
					padding: 0;
				}
			}
      .description {
        margin-left: 50px;
        a {
          padding: 0;
        }
      }
			@media all and (max-width: $md - 1px) {
				padding-left: 0;
				padding-right: 0;
      }
      @media all and (min-width: $md) {
        .description {
          float: right;
          margin-left: 0;
          a {
            display: block;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-text;
            &:hover {
              background: transparent;
            }
            &:before {
              display: inline-block;
              content: '?';
              width: 20px;
              height: 20px;
              line-height: 20px;
              text-align: center;
              margin-right: 5px;
              color: $color-white;
              background: $color-primary;
              border-radius: 10px;
            }
          }
        }
			}
		}
	}
	#edit-group-2-verschillende-stappen .field--type-boolean {
		.form-item {
			margin: 0;
			label {
				padding-left: 100px;
				line-height: 30px;
				font-size: 16px;
				font-weight: 700;
				&:before {
					height: 24px;
					width: 40px;
					border: none;
					background: transparent url(../img/slider-off.png) no-repeat 0 0 / contain;
				}
			}
			input:checked + label:before {
				background: transparent url(../img/slider-on.png) no-repeat 0 0 / contain;
			}
			@media all and (max-width: $md - 1px) {
				label {
					padding-left: 50px;

				}
			}
		}
	}
	.steps + .field--type-boolean:not(.field--name-field-job-anon) {
		clear: both;
		margin: 0;
		.form-item {
			label {
				padding-left: 0;
				&:before {
					top: 55px;
				}
			}
			.description {
				padding-bottom: 50px;
				margin: 0;
			}
		}
	}
	.field--name-field-job-extra-fields {
		.tabledrag-toggle-weight-wrapper,
		.tableresponsive-toggle-columns,
		.tabledrag-handle {
			display: none;
		}
		table, thead, tbody, tr, th, td {
			display: block;
			padding: 0;
			width: 100%;
		}
		.field-add-more-submit {
			margin-top: $gutter;
			border: none;
			background: transparent url(../img/plus.png) no-repeat 0 50% / 14px auto;
			text-align: left;
			padding: 0 0 0 20px;
		}
		@media all and (min-width: $md) {
			thead {
				float: left;
				width: 200px;
				line-height: 32px;
			}
			tbody {
				width: calc(100% - 225px);
    			float: right;
    			input {
    				float: none;
    				width: 100%;
    				margin-bottom: 5px;
    			}
			}
			.field-add-more-submit {
				margin-left: 225px;
			}
		}
	}
}

.job-edit-form {
  .horizontal-tabs .horizontal-tabs-panes > .form-wrapper .details-wrapper {
    padding-bottom: 0;
  }
  .chosen-steps {
    @media all and (min-width: $md) {
      overflow: hidden;
      p {
        float: left;
        width: 200px;
        line-height: 32px;
      }
      ul {
        width: calc(100% - 240px);
        float: right;
      }
    }
  }
}



