.views-table {
	width: 100%;
	thead {
		font-size: $font-size-large;
		th {
			padding: 15px 10px;
			border-bottom: 2px solid $color-primary;
			white-space: nowrap;
			&:before {
				content: '';
				display: inline-block;
				width: 12px;
				height: 24px;
				padding-right: 5px;
				background: transparent url(../img/order.png) no-repeat 0 50% / 7px auto;
				vertical-align: middle;
			}
			&.desc:before {
				background: transparent url(../img/order-desc.png) no-repeat 0 50% / 7px auto;
			}
			&.asc:before {
				background: transparent url(../img/order-asc.png) no-repeat 0 50% / 7px auto;
			}
		}
		a {
			color: $color-text;
			display: inline-block;
			&:hover {
				text-decoration: none;
				color: $color-primary;
			}
			.tablesort {
				display: none;
			}
		}
	}
	tbody {
		td {
			padding: 15px 10px 10px;
			border-bottom: 1px solid $color-primary;
			&.is-active {
				background: transparent;
			}
		}
	}
	@media all and (max-width: $md - 1px) {
		thead th {
			position: relative;
			height: 200px;
			min-width: 30px;
			a, span {
				transition: $transition-default;
				display: inline-block;
				transform-origin: 10px 15px;
				transform: rotate(-75deg);
				position: absolute;
				bottom: 33px;
				left: 15px;
				width: 200px;
			}
			&:before {
				position: absolute;
				bottom: 10px;
				left: 15px;
			}
		}
	}
}