
// Vacatures
// --------------------------------------------------
.view-sollicitaties {
	.views-field-field-app-active {
		width: 10px;
		padding-left: 0;
		padding-right: 0;
		span.sollicitatie_On,
		span.sollicitatie_Off,
		span.sollicitatie_finished {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: $color-status;
		}
		span.sollicitatie_Off {
			background: $color-error;
		}
		span.sollicitatie_finished {
			background: transparent url(../img/check.png) no-repeat 50% 50% / 10px auto;
		}
	}
	.view-footer {
		span.sollicitatie_On,
		span.sollicitatie_Off,
		span.sollicitatie_afgerond {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: $color-status;
			margin-right: 5px;
			vertical-align: middle;
		}
		span.sollicitatie_Off {
			background: $color-error;
		}
		span.sollicitatie_afgerond {
			background: transparent url(../img/check.png) no-repeat 50% 50% / 10px auto;
		}
	}
	@media all and (max-width: 499px) {
		th:nth-child(3), td:nth-child(3),
		th:nth-child(4), td:nth-child(4),
		th:nth-child(5), td:nth-child(5),
		th:nth-child(6), td:nth-child(6),
		th:nth-child(7), td:nth-child(7),
		th:nth-child(8), td:nth-child(8) {
			display: none;
		}
		th:last-child, td:last-child {
			display: table-cell;
		}
	}
}
.view-vacatures {
	.view-header {
		margin-bottom: 15px;
	}
	html.js & {
		.view-header, .view-filters {
			display: none;
		}
	}
	.datetime {
		@media all and (min-width: $md) {
			white-space: nowrap;
		}
	}
  .tooltip-handler {
    display: inline-block;
    font-size: 12px;
    color: $color-primary;
    background: $color-white;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    line-height: 20px;
    border: 1px solid $color-primary;
    &:hover {
      background: $color-primary;
      color: $color-white;
    }
    @media all and (max-width: $md - 1px) {
      transform: rotate(0deg);
      margin-left: 20px;
      margin-bottom: -20px;
    }
  }
  .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 5px 15px;
    background: $color-white;
    font-weight: 400;
    color: $color-primary;
    border: 1px solid $color-primary;
    font-size: 14px;
  }
	.views-field-nothing {
		position: relative;
		span.url, span.copied {
			display: none;
		}
		a:not(.tooltip-handler) {
			@extend .button;
			@extend .button-primary;
			display: inline-block;
			height: 21px;
			width: 35px;
			background: $color-primary url(../img/link-icon.png) no-repeat 50% 50% / 25px auto;
			&:focus {
				background-color: $color-primary;
			}
		}
		span.copied {
			position: absolute;
			top: 10px;
			right: calc(100% - 9px);
			white-space: nowrap;
			border-radius: $border-radius-button;
			background: $color-primary-light;
			padding: 5px 15px;
			color: $color-white;
		}
	}
	.views-field-nothing-1 {
		ul {
			margin: 0;
      width: 110px;
			li {
				display: inline-block;
				margin: 0 $gutter 0 0;
				a {
					display: block;
					height: 21px;
					width: 21px;
					text-indent: -9999px;
					background: transparent url(../img/edit.png) no-repeat 0 0 / contain;
          &.edit {
            background: transparent url(../img/edit.png) no-repeat 0 0 / contain;
          }
          &.remove {
            background: transparent url(../img/remove.png) no-repeat 0 0 / contain;
          }
          &.finish {
            background: transparent url(../img/finish.png) no-repeat 0 0 / contain;
          }
				}
				&:last-child {
					margin: 0;
				}
			}
      @media all and (max-width: $md - 1px) {
        width: auto;
        li {
          display: block;
          margin-bottom: 5px;
        }
      }
		}
	}
	@media all and (max-width: 499px) {
		th:nth-child(2), td:nth-child(2),
		th:nth-child(3), td:nth-child(3),
		th:nth-child(4), td:nth-child(4),
		th:nth-child(5), td:nth-child(5) {
			display: none;
		}
	}
}

#block-pagetitle.vacature-view-title {
	overflow: hidden;
	.page-title {
	}
	.vacature-button {
		margin: 8px 0;
	}
	.vacature-filters {
		margin: 8px 0;
		.form-item {
			margin: 0;
		}
		label {
			float: left;
		}
		.select {
			background-color: transparent;
			border: 1px solid $color-border;
			width: 100%;
			float: none;
		}
	}
	@media all and (min-width: $md) {
		.page-title {
			float: left;
		}
		.vacature-button {
			float: right;
			margin: 8px 0 0 $gutter;
		}
		.vacature-filters {
			float: left;
			margin: 8px $gutter*3 0;
			.select {
				border: none;
			}
		}
	}
}
