{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 */
#}
<div id="site-wrapper">

  <header class="region region--header clearfix">

    {% if page.header %}
    <div class="region--header-inner region-inner">
      {{ page.header }}
    </div>
    {% endif %}

    {% if page.header_mobile %}
    <div class="region--header-mobile-inner region-inner">
      {{ page.header_mobile }}
    </div>
    {% endif %}

    <a href="#" id="mobile-menu-anchor"></a>

  </header>

  <div class="region region--highlighted clearfix">

    {% if page.highlighted %}
    <div class="region--highlighted-inner region-inner">
      {{ page.highlighted }}
    </div>
    {% endif %}

  </div>

  <div class="region region--content clearfix">

    {% if page.content %}
    <div class="region--content-inner region-inner">
      {{ page.content }}
    </div>
    {% endif %}

  </div>

  <div class="region region--footer clearfix">

    <div class="region--footer-inner region-inner">
    {% if page.footer %}
      {{ page.footer }}
    {% endif %}
      <a title="ESF" href="https://www.esf-vlaanderen.be/" target="_blank"><img src="/themes/custom/coretheme/img/esf.png"></a>
      <a title="HoGent" href="https://www.hogent.be/" target="_blank"><img src="/themes/custom/coretheme/img/hogent.png"></a>
      <a class="privacy" href="{{ privacy_policy }}">{{ 'Privacy policy'|t }} </a>
    </div>

  </div>

  {% if user.hasPermission('administer nodes') %}
    <span class="action-links-toggle"></span>
  {% endif %}


</div>
