{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 */
#}
<div id="site-wrapper">

  <header class="region region--header clearfix">

    {% if page.header %}
      <div class="region--header-inner region-inner">
        {{ page.header }}
      </div>
    {% endif %}

    {% if page.header_mobile %}
      <div class="region--header-mobile-inner region-inner">
        {{ page.header_mobile }}
      </div>
    {% endif %}

    <a href="#" id="mobile-menu-anchor"></a>

  </header>

  <div class="region region--highlighted clearfix">

    {% if page.highlighted %}
      <div class="region--highlighted-inner region-inner">
        {{ page.highlighted }}
      </div>
    {% endif %}

  </div>

  <div class="region region--content clearfix">

    {% if page.content %}
      <div class="region--content-inner region-inner application-jobs">
        {{ page.content }}
      </div>
    {% endif %}

  </div>

  <div class="region region--footer clearfix">

    {% if page.footer %}
      <div class="region--footer-inner region-inner">
        {{ page.footer }}
      </div>
    {% endif %}

  </div>

  {% if user.hasPermission('administer nodes') %}
    <span class="action-links-toggle"></span>
  {% endif %}


</div>
