
// Accordeon
// --------------------------------------------------

.paragraph--type--accordeon {
	.field--name-field-title {
		@extend h3;
		cursor: pointer;
		padding-right: 25px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 11px;
			right: 0;
			display: block;
			width: 1px;
			height: 1px;
			border: 8px solid $color-grey;
			border-bottom-color: rgba(255,255,255,0);
			border-left-color: rgba(255,255,255,0);
			border-right-color: rgba(255,255,255,0);
		}
		&.active:after {
			border-top-color: rgba(255,255,255,0);
			border-bottom-color: $color-primary;
		}
	}
	.field--name-field-text {
		max-width: 860px;
		html.js & {
			display: none;
		}
	}
}
.field--name-field-accordeon-item > .field__item {
	padding: $gutter 0 0;
	border-bottom: 1px solid $color-primary;
	&:last-child {
		border: none;
	}
}