
// Downloads
// --------------------------------------------------

.paragraph--type--downloads {
	.field--name-field-title {
		@extend h3;
	}
	.field--name-field-files {
		.field__item {
			max-width: 860px;
			padding: $gutter 0;
			border-bottom: 1px solid $color-primary;
			&:last-child {
				border: none;
			}
		}
	}
}
