
// Form
// --------------------------------------------------

.paragraph--type--form {
	.field--name-field-text-body {
		max-width: 500px;
	}
	.form-item {
		@include clearfix();
		label {
			width: 120px;
			float: left;
			padding-top: 5px
		}
		input, textarea, select {
			width: calc(100% - 150px);
			float: right;
		}
	}
	.form-actions {
		input {
			float: right;
		}
	}
}

