
// Paragrapphs
// --------------------------------------------------

.field--name-field-blocks { 
	> .field__item {
		padding: $gutter 0;
	}
}

.paragraph--type--text,
.paragraph--type--image,
.paragraph--type--video {
	.field {
		max-width: 860px;
	}
}
