
// Settings
// --------------------------------------------------

// Fonts

$font-default:      "Open sans", arial, helvetica, sans-serif;
$font-title:        $font-default;

// Font sizes

$font-size-default:  	14px;
$font-size-large:		16px;
$font-size-small:   	12px;
$font-size-h1:   		30px;
$font-size-h1-small:  	30px;
$font-size-h2:   		20px;
$font-size-h2-small:   	20px;
$font-size-h3:   		16px;
$font-size-h3-small:   	16px;
$font-size-label:		15px;

// Grid

$site-width:  			1200px;
$gutter:        		15px;

// Breakpoints

$sm: 				400px;
$md:      			800px;
$lg:      			1000px;
$xl:      			1300px;

// Colors

$color-primary:     #50B4C8; 
$color-primary-light:#73c3d3; 
$color-secondary:   #FF5D5D; 

$color-white:       #ffffff;
$color-black:       #303C42;
$color-grey:        #979da0; 

$color-border:		#cae8ee;
$color-background:	#F6FBFC;

$color-text:        $color-black; 
$color-link:		$color-primary;
$color-status:      #50C867; // status messages
$color-warning:     #ffa956; // warning messages
$color-error:       #FF5D5D; // error messages

$color-social-facebook:     #3b5998;
$color-social-twitter:      #55acee;
$color-social-linkedin:     #007bb5;
$color-social-googleplus:   #dd4b39;
$color-social-youtube:      #bb0000;
$color-social-instagram:    #e95950;
$color-social-reddit:       #ff4500;
$color-social-mail:         #666666;
$color-social-rss:          #ff9900;

// Borders

$border-radius-default:  15px;
$border-radius-button:  3px;


// Transition
// More examples at http://easings.net/

$easeIn:                    cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOut:                   cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOut:                 cubic-bezier(0.645, 0.045, 0.355, 1);

$transition-time-default:   0.4s;
$transition-default:        $easeOut $transition-time-default;
