#adjust-values-form {
	.intro {	
		@media all and (min-width: $md) {
			width: 65%;
			float: left;
		}
	}
	.legend {
		list-style: none;
		margin: 0 0 0 $gutter;
		@extend .panel;
		@media all and (min-width: $md) {
			width: 20%;
			float: right;
		}
		@media all and (max-width: $md - 1px) {
			margin-left: 0;
			margin-bottom: $gutter*2;
		}
		li {
			margin-bottom: $gutter;
			&:before {
				content: '';
				display: block;
				width: 11px;
				height: 11px;
				background: transparent url(../img/star.png) no-repeat 0 50% / 11px auto;
			}
			+ li {
				&:before { 
					width: 30px;
					background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, transparent;
				}
				+ li {
					&:before { 
						width: 49px;
						background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, url(../img/star.png) no-repeat 38px 50% / 11px auto, transparent;
					}
					+ li {
						&:before { 
							width: 68px;
							background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, url(../img/star.png) no-repeat 38px 50% / 11px auto, url(../img/star.png) no-repeat 57px 50% / 11px auto, transparent;
						}
						+ li {
							&:before { 
								width: 87px;
								background: url(../img/star.png) no-repeat 0 50% / 11px auto, url(../img/star.png) no-repeat 19px 50% / 11px auto, url(../img/star.png) no-repeat 38px 50% / 11px auto, url(../img/star.png) no-repeat 57px 50% / 11px auto, url(../img/star.png) no-repeat 76px 50% / 11px auto, transparent;
							}
						}
					}
				}
			}
		}
	}
	> .form-wrapper {
		margin-top: $gutter*3;
		@media all and (min-width: $md) {
			width: 65%;
			float: left;
			clear: left;
		}
		.fieldset-wrapper {
			margin-bottom: $gutter*3;
		}
		legend {
			margin-bottom: $gutter;
			@media all and (min-width: $md) {
				float: left;
			}
		}
		.form-radios {
			width: auto;
			float: none;
			@media all and (min-width: $md) {
				float: right;
			}
			.form-item {
				float: left;
				margin: 0 0 $gutter;
			}
		}
		.description {
			clear: both;
			font-size: $font-size-default;
		}
	}
	.form-type-radio {
		label {
			text-indent: -9999px;
			padding: 0;
			width: 20px;
			height: 20px;
			margin-right: $gutter;
			@media all and (min-width: $md) {
				margin-left: $gutter;
				margin-right: 0;
			}
			&:before {
				top: 0;
				width: 20px;
				height: 20px;
				border: none;
				background: transparent url(../img/star.png) no-repeat 50% 50% / contain;
				opacity: 0.2;
				cursor: pointer;
			}
			&:hover:before {
				opacity: 0.6;
			}
		}
		input:checked + label.hovering:not(.lowerValue):before {
			opacity: 0.2;
		}
		input:checked + label.hovering:not(.lowerValue):hover:before {
			opacity: 0.6;
		}
		input:checked + label:before,
		label.lowerValue:before {
			opacity: 1;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	#edit-buttons {
		margin-top: 0;
		margin-bottom: $gutter*2;
		input:last-child {
			@extend .button-primary;
		}
	}
}