.application_anonymous {
	.center-text {
		text-align: center;
	}
	.job {
		@extend .panel;
		margin: 0 auto $gutter*2;
		width: 380px;
		max-width: 100%;
		text-align: center;
		font-size: 18px;
		.logo {
			padding: $gutter $gutter $gutter*2;
		}
		.job-title {
			font-weight: 700;
		}
	}
	.info {
		text-align: center;
		p {
			font-size: 20px;
			margin-bottom: $gutter*2;
		}
	}
}

.region--content-inner.application-jobs {
  #block-pagetitle {
    display: none;
  }
}

.application_logged_in {

}

.view-sollicitaties {
	position: relative;
	.view-header {
		.right {
			.date {
				font-size: 20px;
				opacity: 0.5;
				margin-bottom: 5px;
			}
			.applications {
				font-size: 20px;
				color:$color-primary;
			}
			@media all and (min-width: $md) {
				float: right;
				text-align: right;
			}
		}
		a.back-link,
		a.popin-link {
			display: block;
			font-size: $font-size-small;
			font-weight: 700;
			text-transform: uppercase;
			padding-left: 25px;
			background: transparent url(../img/back.png) no-repeat 0 50% / 14px auto;
			color: $color-black;
		}
		h1 {
			margin-top: 0;
			margin-bottom: $gutter;
		}
		a.popin-link {
			background: transparent url(../img/plus.png) no-repeat 0 50% / 14px auto;
			margin-bottom: $gutter*3;
		}
		.pop-in {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			min-height: 100%;
			overflow: auto;
			background: $color-background;
			.popin-terug {
				font-size: $font-size-small;
				font-weight: 700;
				text-transform: uppercase;
				padding-left: 25px;
				background: transparent url(../img/back.png) no-repeat 0 50% / 14px auto;
				color: $color-black;
			}
			.popin-edit {
				display: none;
			}
			.popin-short {
				margin-bottom: $gutter*2;
			}
		}
	}
}

.view-sollicitaties-employee {
	@extend .container;
	.view-empty {
		margin: 0 -15px;
	}
	.view-content {
		@extend .row;
		.views-row {
			@extend .cols--1;
			@extend .cols--md--3;
			margin-bottom: $gutter*2;
			.views-row-inner {
				@extend .panel;
				text-align: center;
			}
		}
	}
	.views-field-field-company-logo {
		padding: $gutter $gutter $gutter*2;
	}
	.views-field-field-company-company,
	.views-field-name-1 {
		font-size: 18px;
	}
	.views-field-name-1 {
		font-weight: 700;
		margin-bottom: $gutter*2;
	}
}

.sjt-create-form {
	.fieldgroup {
		@extend .panel;
		legend {
			width: 100%;
			padding: 0 0 $gutter 0;
			font-weight: 700;
			font-style: italic;
			float: left;
		}
		.fieldset-wrapper {
			clear: both;
		}
		.form-radios {
			width: 100%;
			float: none;
		}
	}
  .legend {
    width: 260px;
    li {
      &:before {
        background: transparent url(../img/circle.png) no-repeat 0 50% / 11px auto;
      }
      + li {
        &:before {
          background: url(../img/circle.png) no-repeat 0 50% / 11px auto, url(../img/circle.png) no-repeat 19px 50% / 11px auto, transparent;
        }
        + li {
          &:before {
            background: url(../img/circle.png) no-repeat 0 50% / 11px auto, url(../img/circle.png) no-repeat 19px 50% / 11px auto, url(../img/circle.png) no-repeat 38px 50% / 11px auto, transparent;
          }
          + li {
            &:before {
              background: url(../img/circle.png) no-repeat 0 50% / 11px auto, url(../img/circle.png) no-repeat 19px 50% / 11px auto, url(../img/circle.png) no-repeat 38px 50% / 11px auto, url(../img/circle.png) no-repeat 57px 50% / 11px auto, transparent;
            }
            + li {
              &:before {
                background: url(../img/circle.png) no-repeat 0 50% / 11px auto, url(../img/circle.png) no-repeat 19px 50% / 11px auto, url(../img/circle.png) no-repeat 38px 50% / 11px auto, url(../img/circle.png) no-repeat 57px 50% / 11px auto, url(../img/circle.png) no-repeat 76px 50% / 11px auto, transparent;
              }
            }
          }
        }
      }
    }
  }
  .personality-question-container {
    margin-right: 275px;
  }
	//group questions
	.question-container {
		@extend .panel;
		position: relative;
		overflow: hidden;
		.fieldgroup {
			legend {
				padding: 0 0 $gutter 30px;
			}
			.form-radios {
				label {
					padding-left: 55px;
				}
			}
			+ .fieldgroup {
				legend {
					padding: 0 0 $gutter 0;
				}
				.form-radios {
					label {
						padding-left: 25px;
					}
				}
			}
      .form-item--error-message {
        width: auto;
        float: none;
        strong {
          font-weight: 400;
        }
      }
		}
		> fieldset {
			background: transparent;
			padding: 0;
			margin: 0;
			border: none;
			&:first-child {
				position: absolute;
				top: $gutter;
				left: $gutter;
				padding-right: $gutter;
				z-index: 1;
				color: $color-white;
				.form-type-radio input + label::before{
					background: $color-white url(../img/check-faded.png) no-repeat 50% 50%/10px auto;
				}
				.form-type-radio input:checked + label::before{
					border-color: $color-status;
					background: $color-white url(../img/check-green.png) no-repeat 50% 50%/10px auto;
				}
			}
			&:last-child {
				margin-left: 30px;
				background: $color-white;
				position: relative;
				z-index: 2;
				legend {
					margin-left: -30px;
				}
				.form-type-radio input + label::before{
					background: $color-white url(../img/cross-faded.png) no-repeat 50% 50%/10px auto;
				}
				.form-type-radio input:checked + label::before{
					border-color: $color-error;
					background: $color-white url(../img/cross-red.png) no-repeat 50% 50%/10px auto;
				}
        .form-item--error-message {
          strong {
            color: #e32700;
          }
          &:before {
            display: none;
          }
        }
			}
		}
	}
	.personality-question-container {
		.form-item {
			min-width: 0;
			margin-right: 0;
		}
      .form-item--error-message {
        strong {
          color: #e32700;
          font-weight: 400;
        }
      }
		.form-type-radio {
			float: left;
			label {
				text-indent: -9999px;
				padding: 0;
				width: 20px;
				height: 20px;
				margin-right: $gutter;
				@media all and (min-width: $md) {
					margin-left: $gutter;
					margin-right: 0;
				}
				&:before {
					top: 0;
					width: 20px;
					height: 20px;
					border: none;
					background: transparent url(../img/circle.png) no-repeat 50% 50% / contain;
					opacity: 0.2;
					cursor: pointer;
				}
				&:hover:before {
					opacity: 0.6;
				}
			}
			input:checked + label.hovering:not(.lowerValue):before {
				opacity: 0.2;
			}
			input:checked + label.hovering:not(.lowerValue):hover:before {
				opacity: 0.6;
			}
			input:checked + label:before,
			label.lowerValue:before {
				opacity: 1;
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}


}
