.application-company {
	.back-link {
		display: block;
		font-size: $font-size-small;
		font-weight: 700;
		text-transform: uppercase;
		padding-left: 25px;
		margin-bottom: $gutter;
		background: transparent url(../img/back.png) no-repeat 0 50% / 14px auto;
		color: $color-black;
	}
	.sidebar {
		.profile-info {
			@extend .panel;
			text-align: center;
			.picture {
				margin: $gutter auto;
				width: 145px;
				height: 145px;
				overflow: hidden;
				border-radius: 73px;
			}
			h2 {
				margin: 0 0 10px;
			}
			h3 {
				margin: 0 0 15px;
				color: $color-primary;
			}
			.linked-in-logo {
				display: inline-block;
				width: 20px;
				height: 20px;
				text-indent: -9999px;
				background: transparent url(../img/linkedin.png) no-repeat 50% 50% / contain;
				&:hover {
					opacity: 0.5;
				}
			}
		}
		.ratings {
			@extend .panel;
			h3 {
				@extend h2;
			}
			ul, li {
				display: block;
				margin: 0;
				padding: 0;
			}
			li {
				padding: $gutter 0;
				border-bottom: $gutter;
				border-bottom: 1px solid $color-border;
				overflow: hidden;
				&:last-child {
					border: none;
				}
				.rating-name {
					float: left;
				}
				.rating {
					float: right;
					color: $color-primary;
				}
			}
			.value-value {
				margin: 5px 0 0;
			}
		}
	}
	.content {
		.header {
			overflow: hidden;
			margin-bottom: $gutter*3;
			.buttons {
				float: right;
			}
			&.inactive {
				opacity: 0.3;
				a {
					cursor: default;
					&.button {
						background: $color-white !important;
					}
					&.button--primary {
						background: $color-primary !important;
						color: $color-white !important;
						border-color: $color-primary !important;
					}
				}
			}
			@media all and (max-width: $md - 1px) {
				.buttons {
					float: none;
					overflow: hidden;
					a {
						float: left;
						+ a {
							float: right;
						}
					}
					+ p {
						clear: both;
						padding-top: $gutter;
						text-align: center;
					}
				}
			}
		}
		.field--type-starrating {
			font-size: 24px;
			margin: $gutter*3 0 0;
			.field__label {
				font-weight: 400;
			}
		}
		.tabs li {
			margin: 0 45px 0 0;
			&:not(disabled) {
				cursor: pointer;
			}
		}
		.tab {
			margin-bottom: $gutter*2;
			display: none;
			&.current {
				display: block;
			}
		}
		.tab.motivatie {
			.info:nth-child(n+2) {
				margin-top: $gutter*3;
			}
      .info + h3 {
        margin-top: $gutter*3;
      }
			.cv {
				margin-top: $gutter*3;
				height: 60px;
				padding-left: 60px;
				padding-top: 15px;
				background: transparent url(../img/cv.png) no-repeat 0 0 / auto 60px;
			}
      ul ul {
        margin: 0;
        list-style: none;
        display: inline;
        li {
        display: inline;
        &:after {
          content: ', ';
        }
        &:last-child:after {
          content: '';
        }
      }
      }
		}
		.tab.waardenfit {
			table {
				width: 100%;
				td {
					line-height: 20px;
					padding: 10px 15px 10px 0;
					border-bottom: 1px solid $color-border;
					.star {
						display: inline-block;
						margin-right: 10px;
						text-indent: -9999px;
						width: 20px;
						height: 20px;
						background: transparent url(../img/star.png) no-repeat 50% 50% / contain;
						&.inactive {
							opacity: 0.2;
						}
					}
				}
				thead {
					font-weight: 700;
				}
			}
			@media all and (max-width: $md - 1px) {
				table td .star {
					display: block;
				}
			}
		}
		.tab.kennismaking {
			.field--name-field-step-text {
				margin-top: $gutter*2;
				.field__item {
					@extend .panel;
					margin-top: 5px;
					opacity: 0.8;
				}
			}
		}
		.tab.testen {
      .tips-and-tricks {
        display: block;
        float: right;
        margin-top: 20px;
        a {
          display: block;
          font-weight: 700;
          text-transform: uppercase;
          color: $color-text;
          &:hover {
            background: transparent;
          }
          &:before {
            display: inline-block;
            content: '?';
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            margin-right: 5px;
            color: $color-white;
            background: $color-primary;
            border-radius: 10px;
          }
        }
      }
			.cat_score {
				cursor: pointer;
				padding-right: 25px;
				position: relative;
				border-bottom: 1px solid $color-border;
				padding-top: $gutter;
				padding-bottom: $gutter;
				margin: 0;
				font-weight: 400;
				&:nth-child(2) {
					border-top: 1px solid $color-border;
					margin-top: $gutter;
				}
				.score {
					color: $color-primary;
				}
				&:after {
					content: '';
					position: absolute;
					top: 20px;
					right: 0;
					display: block;
					width: 1px;
					height: 1px;
					border: 8px solid $color-grey;
					border-bottom-color: rgba(255,255,255,0);
					border-left-color: rgba(255,255,255,0);
					border-right-color: rgba(255,255,255,0);
				}
				&.active:after {
					border-top-color: rgba(255,255,255,0);
					border-bottom-color: $color-primary;
				}
			}
			h2:nth-child(6) {
				margin-top: $gutter*3;
			}
			.cat_score_simple {
				margin: $gutter 0;
				font-weight: 400;
				.score {
					color: $color-primary;
				}
			}
			.cat_content {
				max-width: 860px;
				padding-top: $gutter;
				border-bottom: 1px solid $color-border;
				html.js & {
					display: none;
				}
			}
		}
	}
	.rating-form, .field--type-starrating {
		border-top: 1px solid $color-primary;
		margin-top: $gutter*2;
		padding-top: $gutter*2;
		//.form-submit {
		//	display: none;
		//}
    .form-item--error-message {
      float: none;
      width: auto;
      font-size: 14px;
    }
		legend {
			display: block;
			font-size: 24px;
			color: $color-text;
			font-weight: 400;
			@media all and (min-width: $md) {
				float: left;
			}
		}
		.form-radios {
			width: auto;
			float: none;
			margin-top: 8px;
			@media all and (min-width: $md) {
				float: left;
			}
			.form-item {
				float: left;
				margin: 0 0 $gutter;
			}
		}
		.form-type-radio {
			label {
				text-indent: -9999px;
				padding: 0;
				width: 20px;
				height: 20px;
				margin-right: $gutter;
				@media all and (min-width: $md) {
					margin-left: $gutter;
					margin-right: 0;
				}
				&:before {
					top: 0;
					width: 20px;
					height: 20px;
					border: none;
					background: transparent url(../img/star.png) no-repeat 50% 50% / contain;
					opacity: 0.2;
					cursor: pointer;
				}
				&:hover:before {
					opacity: 0.6;
				}
			}
			input:checked + label.hovering:not(.lowerValue):before {
				opacity: 0.2;
			}
			input:checked + label.hovering:not(.lowerValue):hover:before {
				opacity: 0.6;
			}
			input:checked + label:before,
			label.lowerValue:before {
				opacity: 1;
				&:hover {
					opacity: 0.6;
				}
			}
		}
    .description {
      clear: both;
      font-size: 12px;
    }
	}
	.field--type-starrating {
		.form-radios {
			margin-top: 0;
		}
	}
	.value-value {
		display: block;
		margin-top: $gutter*3;
		.star {
			display: inline-block;
			margin-right: 10px;
			text-indent: -9999px;
			width: 20px;
			height: 20px;
			background: transparent url(../img/star.png) no-repeat 50% 50% / contain;
			&.inactive {
				opacity: 0.2;
			}
		}
	}
}
