 .front {
 	.page-title {
 		margin-bottom: 0;
 		margin-top: 50px;
 	}
 	.field--name-field-blocks {
 		.cols--md--2:first-child .paragraph--type--text {
 			@media all and (min-width: $md) {
 				padding-right: $gutter*4;
 			}
 		}
 		.cols--md--2:last-child .paragraph--type--text {
 			margin-top: -60px;
 			ul {
 				list-style: none;
 				margin: 0;
 				li {
 					margin: 0 0 $gutter*3 0;
 					a {
 						display: block;
 						position: relative;
 						padding: 0 0 0 240px;
 						line-height: 200px;
 						font-size: 30px;
 						font-weight: 700;
 						color: $color-text;
 						&:hover {
 							text-decoration: none;
 							color: $color-primary;
 						}
 						&:before {
 							content: '';
 							display: block;
 							width: 200px;
 							height: 200px;
 							@extend .panel;
 							border-radius: $border-radius-default;
 							position: absolute;
 							top: 0;
 							left: 0;
 						}
 						&.werkgever:before {
 							background: $color-white url(../img/login-werkgevers.png) no-repeat 50% 50% / 100px auto;
 						}
 						&.werknemer:before {
 							background: $color-white url(../img/login-werknemers.png) no-repeat 50% 50% / 100px auto;
 						}
 					}
 				}
 			}
			@media all and (max-width: $md - 1px) {
				margin: 30px 0 0 0;
				ul {
					li {
	 					a {
	 						padding: 120px 0 0 0;
	 						line-height: 1.5;
	 						text-align: center;
	 						&:before {
	 							width: 100px;
	 							height: 100px;
	 							left: 50%;
	 							margin-left: -50px;
	 							background-size: 50px auto !important;
	 						}
	 					}
	 				}
	 			}
			}
 		}
 	}
 }