.company_branding,
.company_fields,
.company_content-inner,
.employee_branding,
.employee_fields,
.employee_content-inner {
	@extend .panel;
	> .button-primary {
		margin-top: 15px;
	}
}

.company_branding,
.employee_branding {
	text-align: center;
	.logo {
		padding: $gutter;
	}
	.slogan, .info {
		font-size: $font-size-large;
		font-weight: 700;
		padding-bottom: $gutter;
	}
}
.employee_branding {
	.picture {
		margin: $gutter auto;
		width: 145px;
		height: 145px;
		overflow: hidden;
		border-radius: 73px;
		img {
			vertical-align: top;
		}
	}
	.info {
		color: $color-primary;
	}
}

.company_fields,
.employee_fields {
	.label {
		font-size: $font-size-small;
		font-weight: 400;
		text-transform: uppercase;
		color: $color-grey;
	}
	.description {
		color: $color-grey;
	}
}

.company_content-inner,
.employee_content-inner {
	.value {
		padding: $gutter 0;
		border-bottom: 1px solid $color-border;
		overflow: hidden;
		.value-name {
			display: block;
			padding-bottom: $gutter;
		}
		.value-value {
			display: block;
		}
		.star {
			display: inline-block;
			margin-right: $gutter;
			width: 20px;
			height: 20px;
			text-indent: -9999px;
			background: transparent url(../img/star.png) no-repeat 0 0 / contain;
			&.inactive {
				opacity: 0.2;
			}
		}
	}
	@media all and (min-width: $md) {
		.value {
			.value-name {
				padding-bottom: 0;
				float: left;
			}
			.value-value {
				float: right;
			}
		}
	}
}