#block-mainnavigation {
	ul li a {
		display: block;
		margin-bottom: $gutter;
		font-weight: 700;
	}
}
@media all and (min-width: $md) {
	#block-mainnavigation {
		width: 25%;
		float: left;
		+ #block-mainpagecontent {
			width: 75%;
			float: right;
		}
	}
}
@media all and (max-width: $md - 1px) {
	#block-mainnavigation {
		padding: $gutter;
		margin: 0 0 $gutter 0;
		border: 1px solid $color-border;
		border-radius: $border-radius-button;
		background: $color-white;
		li:last-child a {
			margin: 0;
		}
	}
}