.region--footer-inner {
	margin-top: $gutter*3;
	padding: $gutter*3 0;
	border-top: 1px solid $color-border;
	text-align: center;
  position: relative;
	img {
		height: 65px;
		width: auto;
		padding: 0 $gutter $gutter;
	}
  a.privacy {
    display: block;
    text-align: center;
    padding-top: $gutter*2;
  }
  @media all and (min-width: $md) {
    a.privacy {
      position: absolute;
      top: $gutter*2;
      right: 0;
      padding-top: 0;
    }
  }
}
