
// Header
// --------------------------------------------------

.region--header {
	background: $color-primary;
	color: $color-white;
	margin-bottom: 35px;
	min-height: 60px;
	a {
		color: $color-white;
	}
}

// MENU
#block-headerblock {
	ul.menu {
		li {
			float: left;
			margin: 0;
			a {
				display: block;
				padding: 20px 30px;
				line-height: 20px;
				font-weight: 700;
				text-transform: uppercase;
				color: $color-white;
				&:hover, &.is-active {
					background: $color-primary-light;
					color: $color-white;
				}
			}
		}
	}
}

// LANGAUGE
#block-languageswitcher {
  .username {
    pointer-events: none;
  }
	float: right;
	ul.links {
		margin: 0;
		list-style: none;
		padding: 15px 10px 15px 0;
		position: relative;
		text-align: center;
		li {
			margin: 0;
			display: none;
			&.is-active {
				display: block;
			}
			a {
				display: block;
				padding: 5px 10px;
				line-height: 20px;
				text-transform: uppercase;
				color: $color-white;
				&:hover {
					text-decoration: none;
				}
			}
		}
		&:hover {
			height: 60px;
			li {
				background: $color-primary-light;
				display: block;
				transition: $transition-default;
				border-bottom: 1px solid $color-primary;
				&:first-child {
					border-radius: $border-radius-button $border-radius-button 0 0;
				}
				&:last-child {
					border-radius: 0 0 $border-radius-button $border-radius-button;
				}
				&.is-active, &:hover {
					background: $color-primary;
					color: $color-white;
					color-border: $color-primary;
					a {
						color: $color-white;
					}
				}
			}
			// &:before {
			// 	display: none;
			// }
		}
		&:before {
			content: '';
			position: absolute;
			top: 25px;
			right: 0;
			width: 10px;
			height: 10px;
			background: transparent url(../img/select-white.png) no-repeat 50% 50% / contain;
		}
	}
}
#block-profileblock {
	float: right;
	margin-left: 30px;
	position: relative;
	height: 55px;
	.profile_button {
		cursor: pointer;
		padding: 10px 20px 10px 0;
		position: relative;
		span.profile_picture {
			display: block;
			float: left;
			padding-right: 10px;
			img {
				width: 40px;
				height: 40px;
				border: 1px solid $color-white;
				border-radius: 25px;
			}
		}
		span.profile_name {
			display: block;
			float: left;
			height: 40px;
			padding: 5px 0;
			line-height: 30px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 25px;
			right: 0;
			width: 10px;
			height: 10px;
			background: transparent url(../img/select-white.png) no-repeat 50% 50% / contain;
		}
	}
	ul.links {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 100%;
		display: none;
		li {
			margin: 0;
			background: $color-primary-light;
			display: block;
			transition: $transition-default;
			border-bottom: 1px solid $color-primary;
			&:first-child {
				border-radius: $border-radius-button $border-radius-button 0 0;
			}
			&:last-child {
				border-radius: 0 0 $border-radius-button $border-radius-button;
			}
			&.is-active, &:hover {
				background: $color-primary;
				color: $color-white;
				color-border: $color-primary;
				a {
					color: $color-white;
				}
			}
			a {
				display: block;
				padding: 5px 10px;
				line-height: 20px;
				color: $color-white;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&:hover ul.links {
		display: block;
	}
}

// MOBILE MENU ANCHOR
#mobile-menu-anchor {
	position: absolute;
	top: 20px;
	right: 5%;
	display: block;
	width: 25px;
	height: 10px;
	margin: 4px 0;
	border-top: 3px solid $color-primary;
	border-bottom: 3px solid $color-primary;
	background: $color-white;
	z-index: 100;
	&:before, &:after {
		content: '';
		width: 25px;
		height: 4px;
		position: absolute;
		left: 0;
		background: $color-white;
		transition: all $transition-default;
	}
	&:before {
		top: -7px;
	}
	&:after {
		bottom: -7px;
	}
	&.is-active{
		background: $color-primary;
		position: fixed;
		&:before {
			transform: rotate(45deg);
			top: 0;
		}
		&:after {
			transform: rotate(-45deg);
			bottom: 0;
		}
	}
	@media all and (min-width: $md) {
		display: none;
	}
}

@media all and (max-width: $md - 1px) {
	#block-headerblock,
	#block-languageswitcher,
	#block-profileblock {
		display: none;
	}
}
