
// Header mobile
// --------------------------------------------------

.region--header-inner {
	#block-mainnavigation {
		display: none;
		@media all and (min-width: $md) {
			display: block;
		}
	}
}

.region--header-mobile-inner {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: $color-primary;
	.branding {
		float: none;
		margin: 0;
		padding: $gutter 5%;
		background: $color-white;
	}
	ul.menu li {
		margin: 0;
		a {
			display: block;
			padding: $gutter 5%;
			color: $color-white;
			text-align: center;
			text-transform: uppercase;
		}
	}
	#block-headerblock-2 {
		padding-top: 60px;
	}
	#block-languageswitcher-2 {
		width: 90%;
		margin: $gutter auto $gutter*2;
		padding: $gutter 0;
		border-top: 1px solid $color-border;
		border-bottom: 1px solid $color-border;
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				a {
					display: inline-block;
					margin: 0 5px;
					padding: 0 5px;
					text-transform: uppercase;
				}
			}
		}
	}
	#block-profileblock-2 {
		.profile_button {
			display: none;
		}
		ul.links {
			margin: 0;
			padding: 0;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 0 10px;
				padding: 0;
				a {
					@extend .button;
					text-transform: none;
					color: $color-primary;
					font-weight: 400;
					padding: 3px 10px;
				}
			}
		}
	}
}

