<div class="container">
  <div class="row">
    <div class="content cols--1">
      <div class="header">
        <p>{{ 'Ben je zeker dat je solicitatie wil stopzetten?'|t }}</p>
      </div>
      {{ form }}
    </div>
  </div>
</div>
