<div class="container">
  <div class="row">
    <div class="content cols--1">
      <div class="header">
        <h3>{{ 'Naar volgende ronde?'|t }}</h3>
      </div>
      {{ form }}
    </div>
  </div>
</div>
