<div class="application-company">
  <a href="/applications/job/{{ job_id }}" class="back-link">{{ 'Sollicitanten'|t_ct }}</a>
  <div class="container">
    <div class="row">
      <div class="sidebar cols--1 cols--md--4">
        <div class="profile-info">
          {% set profile = '/themes/custom/coretheme/img/thumbnail-profile.jpg' %}
          {% if profileInfo.image != NULL %}
            {% set profile = profileInfo.image %}
          {% endif %}
          <div class="picture">
            <img src="{{ profile }}" alt="profile-picture" title="profile-picture">
          </div>
          <h2>
            {{ profileInfo.name }}

          </h2>
          {% if profileInfo.age is defined and profileInfo.age is not null and profileInfo.age != 0 %}
            <h3>
              {{ profileInfo.age }}
              -
              {% if profileInfo.sex is defined and profileInfo.sex is not null %}
                {{ profileInfo.sex }}
              {% endif %}
            </h3>
          {% endif %}
          <p>{{ profileInfo.mail }}</p>
          {% if profileInfo.phone is defined and profileInfo.phone is not null %}
            <p>{{ profileInfo.phone }}</p>
          {% endif %}
          {% if profileInfo.diploma is defined and profileInfo.diploma is not null %}
            <p>{{ profileInfo.diploma }}</p>
          {% endif %}
          {% if profileInfo.linkedin is defined and profileInfo.linkedin is not null %}
            <p><a href="{{ profileInfo.linkedin }}" target="_blank"><span class="linked-in-logo">linkedin</span></a></p>
          {% endif %}
        </div>
        <div class="ratings">
          <h3>{{ 'Beoordelingen van kandidaat'|t_ct }}</h3>
          <ul>
            {% if valueCompare %}
              {% if ratings.1 != '0' %}
                <li>
                  <span class="rating-name">{{ tabs.0 }}</span>
                  <span class="rating">{{ ratings.1 * 20 }} %</span>
                </li>
              {% endif %}
              <li>
                <span class="rating-name">{{ 'Waardenfit'|t_ct }}</span>
                <span class="rating">{{ valueCompare.score }}%</span>
              </li>
              {% for index, rating in ratings if rating != '0' and index > 1 %}
                <li>
                  <span class="rating-name">{{ tabs[index] }}</span>
                  <span class="rating">{{ rating * 20 }} %</span>
                </li>
              {% endfor %}
            {% else %}
              {% for index, rating in ratings if rating != '0' %}
                <li>
                  <span class="rating-name">{{ tabs[index - 1] }}</span>
                  <span class="rating">{{ rating * 20 }} %</span>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="content cols--1 cols--md--4 colspan--md--3">
        <div class="header">
          <div class="buttons">
            {% if not employeeIsTesting %}
              {% if active == '1' %}
                {% if finished != '1' %}
                    {% set label = 'volgende ronde' %}
                    {% if lastStep %}
                      {% set label = 'afronden' %}
                    {% else %}
                        <a href="{{ path('general.next_step_controller_declineEmployee', {'id': id}) }}"
                           class="button">{{ 'afwijzen'|t_ct }}</a>
                    {% endif %}
                    <a href="{{ path('general.next_step_controller_acceptEmployee', {'id': id}) }}"
                       class="button button--primary">{{ label|t_ct }}</a>
                {% else %}
                    <p>{{ 'Deze sollicitatie is afgerond'|t_ct }}</p>
                {% endif %}
              {% else %}
                <p>{{ 'Deze sollicitatie is afgerond'|t_ct }}</p>
              {% endif %}
            {% endif %}
          </div>
          <p>{{ changed }} {% if label == 'afronden' %}<br />{{ 'Kies voor afronden indien de sollicitant alle stappen van het selectieproces heeft doorlopen'|t_ct }}{% endif %}</p>
        </div>
        <div class="tabs-wrapper">
          <ul class="tabs" data-current-tab="{{ currentStepIndex }}">
            {% set step = currentStepIndex %}
            {% if finished == '1' %}
              {% set currentStepIndex = 1 %}
              {% set step = tabs|length %}
            {% endif %}

            {% for tab in tabs %}
              {% set classes = [] %}
              {% if valueCompare %}
                {% if (step == 1 and loop.index == 1) or (finished == '1' and loop.index == 1) %}
                  {% set classes = classes|merge(['current']) %}
                {% endif %}
                {% if step == loop.index - 1 and loop.index != 2 %}
                  {% set classes = classes|merge(['current']) %}
                {% endif %}
                {% if step < loop.index - 1 and finished != '1' %}
                  {% set classes = classes|merge(['disabled']) %}
                {% endif %}
              {% else %}
                {% if (step == loop.index and finished != '1') or (finished == '1' and loop.index == 1) %}
                  {% set classes = classes|merge(['current']) %}
                {% endif %}
                {% if step < loop.index and finished != '1' %}
                  {% set classes = classes|merge(['disabled']) %}
                {% endif %}
              {% endif %}
              <li class="{{ classes|join(' ') }}">{{ tab }}</li>
            {% endfor %}
          </ul>
          <div class="tab-content">
            <div class="tab motivatie{% if currentStepIndex == 1 %} current{% endif %}">
              {% for key, field in stepFields %}
                <div class="info"><h3>{{ key }}</h3><p>{{ field|nl2br }}</p></div>
              {% endfor %}
              {% if stepExtraFields != '<ul></ul>' %}
                <h3>{{ 'Extra gegevens'|t_ct }}</h3>
                {{ stepExtraFields|raw }}
              {% endif %}
              {% if cv is not null %}
                <div class="cv"><a href="{{ cv }}" target="_blank"
                                   class="button button--primary">{{ 'Bekijk CV'|t_ct }}</a></div>
              {% endif %}
              {{ rating_form(1) }}
            </div>
            {% if valueCompare %}
              <div class="tab waardenfit">
                <h3>{{ 'Waardenfit'|t_ct }} = {{ valueCompare.score }}%</h3>
                <p>{{ 'Hieronder krijg je een overzicht van de overeenkomsten en verschillen tussen de bedrijfswaarden en de waarden van de kandidaat. Bedrijfswaarden zijn gerelateerd aan de bedrijfscultuur en bepalen welk soort gedrag verwacht wordt van mensen en wat belangrijk is binnen jullie organisatie. Waarden van kandidaten zijn zaken die zij belangrijk vinden in hun job of in de werkcontext. Wanneer de waarden overeenkomen, spreken we van waardenfit. Uit onderzoek blijkt dat mensen zich beter voelen in een omgeving waar ze die waardenfit ervaren. Er wordt een totaalscore berekend, maar je kan ook waarde per waarde kijken. We raden niet aan om dit te gebruiken om beslissingen te nemen, maar het geeft een bruikbare indicatie over eventuele overeenkomsten tussen wat jullie als bedrijf belangrijk vinden en wat een kandidaat belangrijk vindt. Deze optie is opgenomen in de tool, omdat het vandaag de dag steeds belangrijker wordt gevonden dat mensen “passen” bij een bedrijf en de cultuur binnen dat bedrijf.'|t_ct }}</p>
                <table>
                  <thead>
                  <tr>
                    <td></td>
                    <td>{{ 'Solicitant'|t_ct }}</td>
                    <td>{{ 'Bedrijfswaarden'|t_ct }}</td>
                  </tr>
                  </thead>
                  <tbody>
                  {% for val in valueCompare.vals %}
                    <tr>
                      <td>{{ val.name }}</td>
                      <td>{% for rating in 1..5 %}<span class="star{% if loop.index > val.emp %} inactive{% endif %}">
                            *</span>{% endfor %}</td>
                      <td>{% for rating in 1..5 %}<span class="star{% if loop.index > val.comp %} inactive{% endif %}">
                            *</span>{% endfor %}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
            {% for form in forms %}
              <div
                class="tab {{ form.label|clean_class }}{% if form.current %} current{% endif %}{% if form.active %} disabled{% endif %}">
                {% if form.type == 'step' %}
                  <h3>{{ form.label|t_ct }}</h3>
                  {{ form.form }}
                {% else %}
                  {% if form.form.sjt is defined and form.form.sjt is not null %}
                    <h2>{{ 'Score voor competentievragen'|t_ct }}</h2>
                    <p>{{ 'Deze test geeft slechts een eerste indicatie van hoe iemand scoort op de verschillende competenties die u gekozen heeft. U ziet een score tussen -8 en +8 voor elke competentie. Dit zijn geen scores om je beslissing op te baseren, maar zij dienen als startpunt. In een interview kan u deze competenties verder bevragen, maar zo heeft u alvast een idee van hoe ze schriftelijk de vragen omtrent deze competenties beantwoord hebben.'|t_ct }}</p>
                    <h3>{{ 'Hoe wordt de score berekend?'|t_ct }}</h3>
                    <p>{{ 'In elke vraag wordt een situatie toegelicht en er worden 4 mogelijke reacties weergegeven. De kandidaat moet aanduiden wat hij/zij meest waarschijnlijk zou doen en wat hij/zij minst waarschijnlijk zou doen. Wanneer een kandidaat het beste antwoord aanduidt als meest waarschijnlijke reactie krijgt hij +2, wanneer hij/zij het slechte antwoord aanduidt als minst waarschijnlijk krijgt hij +2. Er zijn ook twee antwoordmogelijkheden die noch het beste zijn en noch het slechtste, wanneer de kandidaat die aanduidt, krijgt hij/zij 0 punten. Wanneer de kandidaat als meest waarschijnlijke reactie het slechtste antwoord aanduidt, krijgt hij/zij -2. Wanneer een kandidaat als minst waarschijnlijke reactie het beste antwoord aanduidt, krijgt hij/zij -2. Op die manier scoort een kandidaat tussen -4 en +4 per vraag. Er zijn 2 vragen per competentie, dus een kandidaat krijgt zo een score tussen -8 en +8 per competentie.'|t_ct }}</p>
                    {% for category, data in form.form.sjt.data %}
                      <h3 class="cat_score_simple">{{ category }}: <span class="score">{{ data.score }}</span></h3>
                    {% endfor %}
                  {% endif %}
                  {% if form.form.perso is defined %}
                    <span class="tips-and-tricks"><a href="{{ alias_by_path('/node/11') }}" target="_blank">{{ 'Tips & Tricks'|t_ct }}</a></span>
                    <h2>{{ 'Persoonlijkheidsvragen'|t_ct }}</h2>
                    <p>{{ 'Deze test geeft een indicatie over persoonlijkheid, maar is geen uitgebreid persoonlijkheidsonderzoek. Wij raden niet aan om puur op basis hiervan beslissingen te nemen. Je kan eventuele bevindingen wel bespreken in een gesprek. Indien u hulp nodig hebt om deze cijfers te interpreteren, kijk bij tips en tricks. De score voor elke dimensie kan variëren tussen 2 en 10.'|t_ct }}</p>
                    {% for category, data in form.form.perso.data %}
                      <h3 class="cat_score_simple">{{ category }}: <span class="score">{{ data.score }}</span></h3>
                    {% endfor %}
                    {{ rating_form(3) }}
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
