<div class="application_anonymous">
  {% set text = 'Deze vacature is gesloten'|t %}
  {% if active %}
    {% set text = 'Je wenst je kandidaat te stellen voor'|t %}
  {% endif %}
  <h1 class="center-text">{{ text }}</h1>

  <div class="job">
    {% if logo != NULL %}
      <div class="logo"><img src="{{ logo }}" alt="company-logo" title="company-logo"></div>
    {% endif %}
    <p class="job-title">{{ jobtitle }}</p>
    <p class="company">{{ company }}</p>
  </div>

  <div class="info">
    {% if active %}
      <p>{{ 'De selectionbuddy leidt je vlot doorheen de sollicitatieprocedure'|t_ct }}</p>
      <p class="text-small">{{ 'De Selectionbuddy is een tool die het selectieproces ondersteunt. Deze tool werd ontwikkeld door HOGENT in samenwerking met werkgevers, werkzoekenden en  HR experts en is gefinancierd door ESF. Voor sollicitanten zorgt de Selectionbuddy ervoor dat stukken van de selectie op afstand kunnen gebeuren, dat men goed op de hoogte is van de stappen in het selectieproces en dat men het selectieproces zelf kan opvolgen. Je vindt hier ook handige tips en tricks voor tijdens het solliciteren.'|t_ct }}</p>
    {% endif %}
    {% set route = path('user.login', {'destination': path('general.application_controller_jobApplication', {'id': jobid})}) %}
    {% if user.id != 0 %}
      {% set route = path('general.application_controller_jobApplicationApply', {'id': jobid}) %}
    {% endif %}
    {% if active %}
      <a class="button button-primary" href="{{ route }}">{{ 'Solliciteer'|t }}</a>
    {% endif %}
  </div>
</div>
