<div class="container vacature_invullen">
  <div class="row">
    <div class="sidebar cols--1 cols--md--4">
      <div class="logo">
        {% if logo != NULL %}
          <img src="{{ logo }}" alt="company-logo" title="company-logo">
        {% endif %}
        <div class="company-company">{{ company }}</div>
        <div class="company-job">{{ jobtitle }}</div>
        <a class="qm" href="#">?</a>
      </div>
      <div class="fields">
        {% for key, field in fields %}
          <p><span class="label">{{ key|t }}</span><br/>{{ field }}</p>
        {% endfor %}
        <a href="#" class="button button-primary">{{ 'Meer info'|t }}</a>
      </div>
    </div>
    <div class="content cols--1 cols--md--4 colspan--md--3">
      {% if finished != '1' and active == '1' and applicationId %}
        <div class="header">
          <div class="buttons">
              <a href="{{ path('general.next_step_controller_stopByEmployee', {'id': applicationId}) }}"
                 class="button button--primary">{{ 'Sollicitatie stopzetten'|t }}</a>
          </div>
        </div>
      {% endif %}
      <div class="tabs-wrapper">
        <ul class="tabs horizontal-tabs">
          {% for tab in tabs %}
            {% set classes = [] %}
            {% if loop.index > currentStepIndex and loop.index != 1 %}
              {% set classes = ['disabled'] %}
            {% endif %}
            {% if loop.index == currentStepIndex or (currentStepIndex == 0 and loop.index == 1) %}
              {% set classes = classes|merge(['current']) %}
            {% endif %}
            <li class="{{ classes|join(' ') }}">{{ tab }}</li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          <div class="tab start_sollicitatie current">
            {{ form }}
          </div>
        </div>
      </div>
      <div class="job-content">
        <h2>{{ jobtitle }}</h2>
        <h3>{{ company }}{% if fields.Locatie %}, {{ fields.Locatie }}{% endif %}</h3>
        {{ jobDesc|raw }}
      </div>
      <div class="company-content">
        <h2>{{ 'Bedrijfsinformatie'|t }}</h2>
        <h3>{{ company }}{% if fields.Locatie %}, {{ fields.Locatie }}{% endif %}</h3>
        {% if companySite %}
          <p>
            <a href="{{ companySite }}" target="_blank" class="button button--primary">{{ 'Bekijk website'|t }}</a>
          </p>
        {% endif %}
        {% for key, field in companyDetails %}
          <p><span class="label">{{ key|t }}: </span>{{ field }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
