<div class="container">
  <div class="row">
    <div class="sidebar cols--1 cols--md--4">
      {% if logo and slogan %}
        <div class="company_branding">
          <div class="logo">
            {% if logo != NULL %}
              <img src="{{ logo }}" alt="company-logo" title="company-logo">
            {% endif %}
          </div>
          <div class="slogan">
            {% if slogan != NULL %}
              <span class="slogan">{{ slogan }}</span>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="company_fields">
        {% for key, field in fields if field != '' %}
          <p><span class="label">{{ key|t }}</span><br/>{{ field }}</p>
        {% endfor %}
        <a class="button button-primary" href="{{ path('general.user_company_edit_form') }}">{{ 'Pas gegevens aan'|t }}</a>
      </div>
    </div>
    <div class="content cols--1 cols--md--4 colspan--md--3">
      <div class="company_content-inner">
        <h2>{{ 'Bedrijfswaarden'|t }}</h2>
        <div class="values">
          {% for value in values %}
            <div class="value">
              <span class="value-name">{{ value.name }}</span>
              <span class="value-value" data-stars="{{ value.rating }}">{% for rating in 1..5 %}<span class="star{% if loop.index > value.rating %} inactive{% endif %}">*</span>{% endfor %}</span>
            </div>
          {% endfor %}
        </div>
        <a class="button button-primary" href="{{ path('general.adjust_values_form') }}">{{ 'Pas waarden aan'|t }}</a>
      </div>
    </div>
  </div>
</div>
