{#
/**
 * @file default_step.html.twig
 * Default theme implementation to present Default step data.
 *
 * This template is used when viewing Default step pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_default_step()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('default_step') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
