<div class="container">
  <div class="row">
    <div class="sidebar cols--1 cols--md--4">
      <div class="employee_branding">
        <div class="picture">
          {% set profile = '/themes/custom/coretheme/img/thumbnail-profile.jpg' %}
          {% if picture != NULL %}
            {% set profile = picture %}
          {% endif %}
          <img src="{{ profile }}" alt="employee-picture" title="employee-picture">
        </div>
        <h2>{{ name }}</h2>
        <div class="info">
          {% if age != NULL %}
            <span class="age">{{ age }}</span>
          {% endif %}
          {% if age != NULL and gender != NULL%}
           -
          {% endif %}
          {% if gender != NULL %}
            <span class="gender">{{ gender }}</span>
          {% endif %}
        </div>
      </div>
      <div class="employee_fields">
        {% for key, field in fields if field != '' %}
          <p><span class="label">{{ key|t }}</span><br/>{{ field }}</p>
        {% endfor %}
        <p class="description">{{ '* Gegevens worden niet gebruikt bij het anoniem solliciteren'|t }}</p>
        <a class="button button-primary" href="{{ path('general.user_employee_edit_form') }}">{{ 'Pas gegevens aan'|t }}</a>
      </div>
    </div>
    <div class="content cols--1 cols--md--4 colspan--md--3">
      <div class="employee_content-inner">
        <h2>{{ 'Mijn waarden'|t }}</h2>
        <div class="values">
          {% for value in values %}
            <div class="value">
              <span class="value-name">{{ value.name }}</span>
              <span class="value-value" data-stars="{{ value.rating }}">{% for rating in 1..5 %}<span class="star{% if loop.index > value.rating %} inactive{% endif %}">*</span>{% endfor %}</span>
            </div>
          {% endfor %}
        </div>
        <a class="button button-primary" href="{{ path('general.adjust_values_form') }}">{{ 'Pas waarden aan'|t }}</a>
      </div>
    </div>
  </div>
</div>
