<ul class="menu">
  {% if 'employe' in user.roles %}
    <li><a {% if '/applications-employee' in url('<current>')|render|render %} class="is-active" {% endif %} href="/applications-employee">{{ 'Sollicitaties'|t }}</a></li>
    <li><a {% if path('general.user_controller_getEmployeeProfilePage') in url('<current>')|render|render %} class="is-active" {% endif %} href="{{ path('general.user_controller_getEmployeeProfilePage') }}">{{ 'Mijn profiel'|t }}</a></li>
    <li><a {% if '/tips-tricks' in url('<current>')|render|render %} class="is-active" {% endif %} href="/tips-tricks">{{ 'Tips & tricks'|t }}</a></li>
  {% endif %}
  {% if 'company' in user.roles %}
    <li><a {% if '/jobs' in url('<current>')|render|render %} class="is-active" {% endif %} href="/jobs">{{ 'Vacatures'|t }}</a></li>
    <li><a {% if path('general.user_controller_getCompanyProfilePage') in url('<current>')|render|render %} class="is-active" {% endif %} href="{{ path('general.user_controller_getCompanyProfilePage') }}">{{ 'Bedrijfsprofiel'|t }}</a></li>
    <li><a {% if '/tips-tricks' in url('<current>')|render|render %} class="is-active" {% endif %} href="/tips-tricks">{{ 'Tips & tricks'|t }}</a></li>
  {% endif %}
</ul>
