{#
/**
 * @file motivation_c_v.html.twig
 * Default theme implementation to present Motivation cv data.
 *
 * This template is used when viewing Motivation cv pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_motivation_c_v()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('motivation_c_v') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
