{#
/**
 * @file perso_result.html.twig
 * Default theme implementation to present Perso result data.
 *
 * This template is used when viewing Perso result pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_perso_result()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('perso_result') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
