  <div class="profile_button">
      {% if picture != NULL %}
	  	<span class="profile_picture">        
      		<img src="{{ picture }}" alt="employee-picture" title="employee-picture">
		</span>
      {% endif %}
	<span class="profile_name">{{ username }}</span>
  </div>
  <ul class="links">
    <li>
      <a href="/user/logout" class="">{{ 'Uitloggen'|t }}</a>
    </li>
  </ul>
