{#
/**
 * @file sjt_result.html.twig
 * Default theme implementation to present Sjtresult data.
 *
 * This template is used when viewing Sjtresult pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_sjt_result()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('sjt_result') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
