{#
/**
 * @file value.html.twig
 * Default theme implementation to present Value data.
 *
 * This template is used when viewing Value pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_value()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('value') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
