
// Buttons
// --------------------------------------------------

.button, button,
input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 6px 15px;
  color: $color-text;
  text-align: center;
  font-size: $font-size-default;  
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $color-white;
  border-radius: $border-radius-button;
  border: 1px solid $color-border;
  cursor: pointer;
  transition: $transition-default;
  margin: 0;
  line-height: 24px;
  &:hover,
  &:focus {
      outline: 0;
      text-decoration: none;
      color: $color-text;
      background-color: $color-border;
  }
}

// Primary
.button-primary {
  @extend .button;
  color: $color-white;
  background-color: $color-primary;
  border-color: $color-primary;
  &:hover,
  &:focus {
    border-color: $color-border;
    background-color: $color-border;
  }
}

.button--primary {
  @extend .button-primary;
}