
// Classes
// --------------------------------------------------

// Hidden Elements

.visually-hidden,
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}


// grid

.container {
	@media all and (min-width: $sm) {
		@include container();
	}
}
.row {
	@media all and (min-width: $sm) {
		@include row();
	}
}
@for $i from 1 through 12 { 
	@media all and (min-width: $sm) {
		.cols--#{$i} { 
			@include cols($i); 
		}
	}
	@media all and (min-width: $md) {
		.cols--md--#{$i} { 
			@include cols($i); 
		}
	}
	@media all and (min-width: $lg) {
		.cols--lg--#{$i} { 
			@include cols($i); 
		}
	}
	@for $j from 1 through 12 { 
		@media all and (min-width: $sm) {
			.cols--#{$i}.colspan--#{$j} { 
				@include cols($i/$j); 
			}
		}
		@media all and (min-width: $md) {
			.cols--md--#{$i}.colspan--md--#{$j} { 
				@include cols($i/$j); 
			}
		}
		@media all and (min-width: $lg) {
			.cols--lg--#{$i}.colspan--lg--#{$j} { 
				@include cols($i/$j); 
			}
		}
	} 
} 

.panel {
	padding: $gutter;
	margin: 0 0 $gutter 0;
	border: 1px solid $color-border;
	border-radius: $border-radius-button;
	background: $color-white;
}