
// Document
// --------------------------------------------------

// Box Sizing

*,
*:before,
*:after {
    box-sizing: border-box;
}

html  {
  -webkit-text-size-adjust: none; // Prevent font scaling in landscape
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
}

// Document settings

body {
  font-family: $font-default;
  font-size: $font-size-default;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-background;
  font-variant-ligatures: none; // turn off ligatures
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  counter-reset: vacatureStappen;
}

.region-inner {
  @include sitewidth();
}

.ajax-progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5) url(../img/loader.gif) no-repeat 50% 50%;
}
