
// Forms
// --------------------------------------------------

// Reset

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

fieldset {
  padding: 0;
  border-width: 0;
  > legend {
    @extend label;
  }
}

.label {
  font-weight: 400;
}

// Form item

.form-item, .field--type-datetime, .form-item.text-format-wrapper, .form-type-select {
  margin-top: 0;
  margin-bottom: $gutter;
}

// Labels

.form-item, .field--type-datetime {
  label {
    display: block;
    margin-bottom: 0;
    font-size: $font-size-label;
  }
}
.webform-element--title-inline {
  label {
    display: inline-block;
  }
}

label.label,
label.field-label,
div.field-label,
span.field-label {
  @extend label;
  display: inline-block;
  margin-right: 5px;
}
.label-inline {
  @extend label;
  label.field-label,
  div.field-label,
  span.field-label,
  div.field-content {
    display: inline-block;
  }
}



// Description

.form-item {
  .description {
  	font-size: $font-size-small;
    p, ul, li {
      margin-bottom: 0;
    }
  }
}

// Prefix

.field-prefix {
  margin-right: 5px;
}

// Suffix

.field-suffix {
  margin-left: 5px;
}

// Form elements
// --------------------------------------------------

// Text fields

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="password"],
input.form-color,
select {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: $font-size-default;
  transition: all $transition-default;
  max-width: 100%;
  &:hover {
    border: solid 1px $color-primary;
    outline: 0;
  }
  &:focus {
    border: solid 1px $color-text;
    outline: 0;
  }
}

// Textarea

textarea {
  width: 100%;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: $font-size-default;
  min-height: 65px;
  transition: all $transition-default;
  &:hover {
    border: solid 1px $color-primary;
    outline: 0;
  }
  &:focus {
    border: solid 1px $color-text;
    outline: 0;
  }
}

// select
.select {
  width: 100%;
  overflow: hidden;
  padding: 6px 29px 6px 10px;
  background: $color-white url(../img/select.png) no-repeat calc(100% - 10px) 50% / 9px auto;
  border: 1px solid $color-border;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: $font-size-default;
  transition: all $transition-default;
  &:hover {
    border: solid 1px $color-primary;
    outline: 0;
  }
  select {
    width: calc(100% + 60px);
    height: 24px;
    max-width: none;
    background: transparent;
    border: none;
    padding: 0;
    &:focus {
      border: none;
      outline: 0;
    }
  }
}
.select2-container {
  height: 24px !important;
  .selection, .select2-selection {
    border: none !important;
    height: 24px !important;
    min-height: 0 !important;
    ul, li, input {
      margin: 0 !important;
      padding: 0 !important;
      height: 24px !important;
    }
    .select2-selection__choice {
      margin-right: 5px !important;
      padding: 0 5px !important;
      color: $color-primary;
      background-color: $color-background;
      border: 1px solid $color-primary-light;
      height: 24px;
    }
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $color-primary;
  }
}
  .select2-dropdown {
    margin-top: 7px;
    margin-bottom: 7px;
  }

// Checkbox/radio

.form-type-checkbox,
.form-type-radio {
  input {
    margin-right: 5px;
  }
  label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
  }
}

.form-type-checkbox,
.form-type-radio {
  overflow: hidden;
  input {
    position: absolute;
    left: -9999px;
  }
  label {
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      display: block;
      width: 16px;
      height: 16px;
      background: $color-white;
      border: 1px solid $color-border;
      border-radius: 2px;
    }
  }
  input:checked + label:before {
    background: $color-white url(../img/check.png) no-repeat 50% 50% / 11px auto;
    border-color: $color-primary;
  }
}
.form-type-radio {
  label {
    &:before {
      border-radius: 8px;
    }
  }
  input:checked + label:before {
    background: $color-white url(../img/dot.png) no-repeat 50% 50% / 10px auto;
  }
}

form {
  .button-primary {
    @extend .button-primary;
  }
}


.form-checkboxes,
.form-type-radios {
  .form-type-checkbox:not(:last-child),
  .form-type-radio:not(:last-child) {
    margin-bottom: 3px;
  }
  .form-type-checkbox:last-child,
  .form-type-radio:last-child {
    margin-bottom: 0;
  }
}

.filter-wrapper {
  display: none;
}

.form-item--error-message {
  clear: both;
}

@media all and (min-width: $md) {
  .form-type-textfield,
  .form-type-url,
  .form-type-email,
  .form-type-password,
  .form-type-date,
  .field--type-datetime,
  .form-item.text-format-wrapper,
  .form-type-select,
  .form-type-managed-file {
    overflow: hidden;
    label {
      width: 210px;
      padding: 7px 15px 7px 0;
      float: left;
      line-height: 24px;
    }
    input,
    div.password-confirm, div.password-field, div.password-strength, div.password-confirm-match,
    .description, .form-textarea-wrapper, .select {
      width: calc(100% - 225px);
      float: right;
    }
    div.password-confirm, div.password-field, div.password-strength, div.password-confirm-match {
      clear: both;
    }
  }
  .form-radios, .form-checkboxes {
      width: calc(100% - 225px);
      float: right;
  }
  .form-item--error-message {
      width: calc(100% - 225px);
      float: right;
  }
}



// jQuery UI overides
// --------------------------------------------------

.ui-widget {
  font-family: $font-default;
  font-size: $font-size-default;
}

// Autocomplete

.ui-autocomplete {
  border: none;
  background: $color-white;
  .ui-menu-item {
    position: relative;
    z-index: 1;
    margin: -1px 0 0;
    padding: 10px 5px;
    border: 1px solid $color-border;
    transition: all $transition-default;
  }
  .ui-state-focus {
    z-index: 2;
    background: none;
    border: solid 1px $color-primary;
  }
}



// tabs

form {
  .tabs {
    margin: 0;
  }
  .horizontal-tabs {
    margin: 0;
    border: none;
    .horizontal-tabs-list {
      background: transparent;
      border: none;
      border-bottom: 2px solid $color-primary;
      overflow: hidden;
      .horizontal-tab-button {
        background: transparent !important;
        border: none;
        padding: 0 70px 0 0;
        min-width: 0;
        float: left;
        margin: 0;
        &.selected {
          background: transparent;
          border: none;
          a {
            color: $color-primary;
            padding: 0 0 15px 0;
          }
        }
        a {
          background: transparent !important;
          padding: 0 0 15px 0;
          font-size: 16px;
          color: $color-grey;
          margin: 0;
          &:hover {
            color: $color-primary;
            background: transparent;
          }
        }
      }
      h3.horizontal-tab-button {
          padding: 0 70px 15px 0;
          font-size: 16px;
          color: $color-grey;
          &.selected {
            color: $color-primary;
          }
      }
    }
    .horizontal-tabs-panes {
      > .form-wrapper {
        margin: 0;
        padding: 0;
        .details-wrapper {
          padding: $gutter*2 0;
        }
      }
    }
  }
  .basic_values .horizontal-tabs-list,
  .personal_values .horizontal-tabs-list,
  .values .horizontal-tabs-list   {
    margin-bottom: $gutter*2;
  }
}
