.action-links-toggle {
  position: fixed;
  z-index: 1000000;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: $color-primary url(../img/gear-icon.png) no-repeat 50% 50% / 70% 70%;
  &:hover {
    cursor: pointer;
    background: $color-border url(../img/gear-icon.png) no-repeat 50% 50% / 70% 70%;
  }
}
.block-local-tasks-block {
  height: 40px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 40px;
  &.js-hidden {
    display: none;
  }
  nav.tabs {
    width: 100%;
    max-width: 100%;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    display: block;
    float: left;
    margin: 0;
    text-align: left;
    list-style: none;
  }
  a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 $gutter;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-text;
    background-color: $color-white;
    &:hover,
    &:focus,
    &.is-active {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}